*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}


body {
    width: 100%;
    height: fit-content;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Neue Haas Grotesk';
    src: url('NeueHaasGrotText.otf');
}

section{
    transition: .5s;
}

.content{
    transition: .5s;
}

#nombre,
.stack h2{
    font-family: 'Neue Haas Grotesk', sans-serif;
}

.thumb{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.thumb li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition: .5s;
}

.thumb li:hover{
    transform: translateY(-15px);
}

.thumb li img{
    max-width: 100px;
}

.pastillas .left a{
    transition: 1s
}

.left {
    height: 100vh;
    flex-basis: 50%;
    position: sticky;
    top: 0;
    left: 0;
    box-sizing: border-box;
}

.right {
    height: 100vh;
    flex-basis: 50%;
    position: sticky;
    top: 0;
}

.card {
    width: 350px;
    height: 350px;
    border-radius: 25px;
    margin-bottom: 10px;
    position: absolute;
    top: calc(50% - 175px);
    left: calc(50% - 175px);
    transition: 0.5s ease-in-out;
    box-sizing: border-box;
    padding: 35px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.card:nth-child(1) {
    background: #12a561;
}
.card:nth-child(2) {
    background: #cc3848;
}
.card:nth-child(3) {
    background: #d36849;
}
.card:nth-child(4) {
    background: #4d1187;
}
.card:nth-child(5) {
    background: #f5a562;
}

.away {
 transform-origin: bottom left;
}

@media screen and (max-width: 968px) {
    .card{
        width: 300px;
        height: 300px;
        top: calc(50% - 125px);
        left: calc(50% - 125px);
    }
}

@media screen and (max-width: 768px) {
    .left,
    .right{
        flex-basis: auto;
    }

    .left{
        height: max-content;
    }

    .card{
        width: 250px;
        height: 250px;
        top: calc(50% - 125px);
        left: calc(50% - 125px);
    }

    .right{
        top: 25%;
        right: 50%;
    }
}